<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/adds.css">
</head>

<body>

<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>



<header>
    <th:block th:include="~{fragments/footer}"></th:block>
</header>

<script src="/js/bootstrap.js"></script>
</body>

</html>