<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/header}"></th:block>
</head>

<body>

<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>

<div class="d-flex justify-content-center mt-5">
    <div class="col-md-5 col-lg-5 col-sm-5">
        <form class="card" th:action="@{/moderator/products/edit/image/{id}(id=${product.id})}" th:method="post"
              th:object="${productAddBindingModel}" enctype="multipart/form-data">
            <div class="form-group mt-3">
                <div class="col-lg-8">
                    <h6 class="mt-3 mb-4">Смени снимка...</h6>
                    <input th:value="*{image}" type="file" class="form-control" name="image">
                </div>
            </div>
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="text-right mt-4">
                        <a th:href="@{/moderator/products}" class="btn btn-secondary">Назад</a>
                        <button type="submit" class="btn btn-primary">Запази промените</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<footer class="mt-5" style="background-color: #616161; color: white; padding: 100px">
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>

</body>

</html>