<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/header}"></th:block>
</head>

<body>
<header>

    <th:block th:include="~{fragments/navbar}"></th:block>
</header>

<th:block th:if="${cart.size()==0}">
    <!--Main layout-->
    <main class="mt-5 pt-4">
        <div class="container dark-grey-text">
            <div class="row wow fadeIn">
                <h1>Няма продукти в количката</h1>
            </div>
            <hr>
        </div>
    </main>
</th:block>


<th:block th:unless="${cart.size()==0}">
    <div class="container px-3 my-5 clearfix">
        <div class="card">
            <div class="card-header">
                <h2>Shopping Cart</h2>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered m-0">
                        <thead>
                        <tr>
                            <th class="text-center py-3 px-4" style="min-width: 400px;">Product Name &amp; Details</th>
                            <th class="text-right py-3 px-4" style="width: 100px;">Price</th>
                            <th class="text-center py-3 px-4" style="width: 120px;">Quantity</th>
                            <th class="text-right py-3 px-4" style="width: 100px;">Total</th>
                            <th class="text-center align-middle py-3 px-0" style="width: 40px;">
                                <a href="#" class="shop-tooltip float-none text-light"
                                   title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="p : ${cart}" th:object="${p.product}">
                            <td class="p-4">
                                <div class="media align-items-center">
                                    <img th:src="${p.product.imgUrl}" class="d-block ui-w-40 ui-bordered mr-4"
                                         width="100" height="100" alt="">
                                    <div class="media-body">
                                        <a th:href="@{/shop/article/{nameLatin}(nameLatin=*{productNameLatin})}"
                                           class="d-block text-dark" th:text="*{productName}">Product 1</a>
                                    </div>
                                </div>
                                <div></div>
                            </td>

                            <td class="text-right font-weight-semibold align-middle p-4" th:text="*{productPrice}"></td>
                            <td class="align-middle p-4" th:text="${p.qty}"></td>
                            <td class="text-right font-weight-semibold align-middle p-4"
                            >$115.1
                            </td>
                            <td class="text-center align-middle px-0">
                                <a th:href="@{/remove/{id}(id=${p.product.id})}"
                                   class="shop-tooltip close float-none text-danger" title=""
                                   data-original-title="Remove">X</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
                    <div class="mt-4 visually-hidden-focusable">
                        <button type="button" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3">Back to shopping
                        </button>
                    </div>
                    <div class="d-flex float-end">

                        <div class="text-right mt-4">
                            <label class="text-muted font-weight-normal m-0">Total price</label>
                            <div class="text-large" th:text="${totalSum}"><strong>$1164.65</strong></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</th:block>


<footer class="mt-5" style="background-color: #616161; color: white; padding: 100px">
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>

</body>

</html>