<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/header}"></th:block>
</head>

<body>
<header>

    <th:block th:include="~{fragments/navbar}"></th:block>
</header>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
    <div class="card">
        <div class="card-body" th:object="${product}">
            <h3 class="card-title mb-3" th:text="*{productName}"></h3>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center">
                        <img th:src="*{imgUrl}" class="img-responsive"></div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h2 class="mt-5">Продуктов код: <span th:text="*{productCode}"></span></h2>
                    <h2 class="mt-5">Баркод: <span th:text="*{barcode}"></span></h2>
                    <th:block th:if="*{inStock==0}">
                        <h2 class="mt-5">Налчичност: <span th:text="*{inStock}"></span></h2>
                    </th:block>
                    <th:block th:unless="*{inStock==0}">
                        <h2 class="mt-5">Налчичност: <span>Неналичен</span></h2>
                    </th:block>
                    <h2 class="mt-5">Цена: <span th:text="*{productPrice}"></span></h2>
                    <button class="btn btn-primary btn-rounded">Buy Now</button>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h4 class="box-title mt-5">Описание</h4>
                    <p th:text="*{description}"></p>

                </div>
            </div>
        </div>
    </div>
</div>

<footer class="mt-5" style="background-color: #616161; color: white; padding: 100px">
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>

</body>

</html>