<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/header}"></th:block>
</head>

<body>
<header>

    <th:block th:include="~{fragments/navbar}"></th:block>
</header>

<!--Main layout-->
<main class="mt-5 pt-4">
    <div class="container dark-grey-text">
        <div class="row wow fadeIn">
            <h1 th:text="${product.productName}"></h1>
            <div class="col-md-6 mb-4">
                <img th:src="${product.imgUrl}" class="img-fluid"
                     alt="">
            </div>
            <div class="col-md-6 mb-4">
                <div class="p-4">
                    <h2 th:text="|${product.productPrice} лв.|"></h2>
                    <p class="lead font-weight-bold">Кратко описание</p>
                    <p th:text="${product.description}"></p>
                    <form class="d-flex justify-content-left"
                          th:action="@{/users/cart/add/{nameLatin}(nameLatin=${product.productNameLatin})}"
                          th:method="post">
                        <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
                        <button class="btn btn-primary btn-md my-0 p" type="submit">Добави
                            <i class="fas fa-shopping-cart ml-1"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <div class="row d-flex justify-content-center wow fadeIn">
            <div class="col-md-6 text-center">
                <h4 class="my-4 h4">Подобни Продукти</h4>
            </div>
        </div>
        <div class="row wow fadeIn">
            <div class="col-lg-4 col-md-12 mb-4" th:each="p : ${similarProducts}">
                <h4 class="text-center" th:text="${p.getProductName()}"></h4>
                <a th:href="@{/shop/article/{nameLatin}(nameLatin=${p.productNameLatin})}">
                    <img th:src="${p.imgUrl}" class="img-fluid" alt=""></a>
            </div>
        </div>
    </div>
</main>

<footer class="mt-5" style="background-color: #616161; color: white; padding: 100px">
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>

</body>

</html>